* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    width: 942px;
    margin: 0 auto;
}
@import "promo";
@import "header";
@import "buttons";
@import "advantages";
@import 'consultation';
@import 'form';
@import 'carousel';
@import 'catalog';
@import "media";